<!--The content below is only a placeholder and can be replaced.-->

  <h1>
    Welcome to {{title}}!
  </h1>

  <h3>Chips</h3>
<mat-chip-list>
  <mat-chip>One fish</mat-chip>

  <mat-chip color="primary" selected="true">Primary <i class="material-icons">home</i></mat-chip>
  <mat-chip color="accent" selected="true">Accent <i class="material-icons">favorite</i></mat-chip>
  <mat-chip color="warn" selected="true">Warn <i class="material-icons">pets</i></mat-chip>
</mat-chip-list>


<h3>Raised Buttons</h3>
<div class="button-row">
  <button mat-raised-button>Basic</button>
  <button mat-raised-button color="primary">Primary</button>
  <button mat-raised-button color="accent">Accent</button>
  <button mat-raised-button color="warn">Warn</button>
  <button mat-raised-button disabled>Disabled</button>
  <a mat-raised-button href="https://material.io">Link</a>
</div>
