@import '~@angular/material/theming';
@import 'myfirst-palette.scss';

$myfirst-theme-primary: mat-palette($my-first-pallete, 900, 500, 900);
$myfirst-theme-accent: mat-palette($my-first-pallete, A200);
$myfirst-theme-warn: mat-palette($mat-red, A200);

$myfirst-theme: mat-dark-theme(
  $myfirst-theme-primary,
  $myfirst-theme-accent,
  $myfirst-theme-warn
);

html,body{
  background-color: #cccccc;
}
